/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

/* Contêiner principal */
.main-container {
  display: flex; /* Ativa o layout lado a lado */
  gap: 20px; /* Espaçamento entre os elementos */
  justify-content: space-between; /* Distribui espaço entre os elementos */
  padding: 20px;
}

/* Cabeçalho */
header {
  background-color: #6A5ACD;
  padding: 1rem 0;
  text-align: center;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background-color: #6A5ACD;
  text-align: center;
  padding: 100px 20px;
}

.hero-image {
  width: 160px; /* Ajuste o tamanho conforme necessário */
  height: 160px;
  border-radius: 50%; /* Deixa a imagem redonda */
  margin-bottom:20px;
  object-fit: cover; /* Garante que a imagem seja cortada proporcionalmente */
  border: 3px solid #f1f0fa; /* Adiciona uma borda roxa */
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero span {
  color: #f1f0fa;
}

.hero p {
  font-size: 1.2rem;
  color: #383357;
}

/* Seções */
section {
  padding: 50px 20px;
}

section h1 {
  font-size: 2rem;
  color: #6A5ACD;
  text-align: center;
  margin-bottom: 20px;
}

section p,
section ul {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

section ul {
  list-style: none;
}

section ul li {
  margin: 10px 0;
  font-size: 1rem;
  color: #666;
}

/* Sobre Mim e Objetivos */
.info {
  flex: 2; /* Define que esta seção ocupe 2 partes do espaço */
  display: flex;
  flex-direction: column; /* Alinha os itens em uma coluna */
  gap: 20px;
}

.info > div {
  background-color: #f1f0fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
